[submodule "depthimage_to_laserscan"]
    path = depthimage_to_laserscan
    url = https://github.com/3bdul1ah/depthimage_to_laserscan.git

[submodule "Depth-Anything-V2"]
	path = Depth-Anything-V2
	url = https://github.com/3bdul1ah/Depth-Anything-V2.git
