<launch>

<node name="usb_cam" pkg="usb_cam" type="usb_cam_node" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="camera_frame" />
    <param name="io_method" value="mmap"/>
</node>

<node pkg="tf" type="static_transform_publisher" name="base_link_camera" args="0 0 0 0 0 0 /base_link /camera_frame 100"/>

<node name="rgb_to_depth" pkg="depth_anything_v2_ros" type="depth_anything_node.py">
    <param name="image_topic" value="/usb_cam/image_raw"/>
    <param name="depth_topic" value="/depth/image_raw"/>
</node>

  <node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" args="">

    <remap from="image"       to="/depth/image_raw"/> <!-- change here for your camera depth topic name. Default: "/camera/depth/image_raw" -->

    <remap from="/depth/camera_info" to="/depth/camera_info"/>
    <!-- the remap for camera_info by default uses the same path as the one given to the image topic. Default: "<path_to_image_topic>/camera_info>" -->

    <!-- PARAMETERS: -->
    <!-- These are the default values. -->
    <param name="scan_height"     type="int"    value="5"/> <!-- default: 1 pixel. Number of pixel rows used to generate laser scan. -->
    <param name="scan_time"       type="double" value="0.033"/> <!-- default:0.033, 30 FPS . Time between scans. -->
    <param name="range_min"       type="double" value="0.5"/> <!--default:0.45m. Ranges less than this are considered -Inf. -->
    <param name="range_max"       type="double" value="10.0"/> <!--default: 10m. Ranges less than this are considered +Inf. -->
    <param name="output_frame_id" type="str"    value="base_link"/> <!--default: camera_depth_frame. Frame id of the laser scan. -->

  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find depth_anything_v2_ros)/rviz/webcam_laserscan.rviz"/>


</launch>